<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}{% endblock %}
</head>
<body>
{% block menu %}
    <div style="border-bottom: 1px solid #ccc; padding: 10px;">
        <!-- Menu HTML code -->
        <div>
            <br>
                <div>**********************************</div>
                <br>
                <a href="{% url 'homepage' %}"> home </a>
                <br>

                <br>
                <a href="{% url 'reviews' %}">Go to reviews</a>
                <br>

                <br>
                <a href="{% url 'task' %}">Go to task</a>
                <br>

                <br>
                <a href="{% url 'create-task' %}">Create new task</a>
                <br>
                <br>
                <br>

                <div>**********************************</div>
                <br>
        </div>
    </div>
{% endblock %}

{% block header %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>