{% extends 'app_01/base.html' %}
{% load static bootstrap4 %}

{% block title %}
    New Task
{% endblock %}

{% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block header %}      <div>**********************************</div>
    <h1>New Task</h1>
{% endblock %}

{% block content %}
<div>**********************************</div>
    <h3>Create a new task:</h3>

    <hr>
    <form method="POST" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form TaskForm %}
        <button type="submit" class="btn btn-custom">Create task</button>
    </form>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
    {% bootstrap_javascript %}
{% endblock %}