{% extends 'app_01/base.html' %}

{% block content %}
<div>**********************************</div>

<h3> Task Form</h3>
<p> This is where you can create your task </p>
<hr>
<form method="POST" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}
    {{ TaskForm.as_p }}

    <input type="submit" value="submit"/>
    <br>
    <br>
    <div>**********************************</div>
    <br>
    <a href="{% url 'reviews' %}">Go to reviews</a>
    <br>
    <a href="{% url 'cars' %}">Go to cars</a>
    <br>
    <a href="{% url 'register' %}">Go to register</a>
    <br>
    <a href="{% url 'task' %}">Go to task</a>
    <br>
    <a href="{% url 'create-task' %}">Create new task</a>
    <br>
    <a href="{% url 'homepage' %}"> home </a>
    <br>
    <div>**********************************</div>
    <br>

</form>
{% endblock %}