{% extends 'app_01/base.html' %}
{% load static bootstrap4 %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block header %}
<div>**********************************</div>
    <h1>Dashboard</h1>
{% endblock %}

{% block content %}
<div>**********************************</div>
    <h3>User information:</h3>

<form method="GET" action="{% url 'homepage' %}">
  <button type="submit" class="btn btn-warning" style="margin-right: 10px;">Homepage</button>
</form>
    <hr>

{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
    {% bootstrap_javascript %}
{% endblock %}