{% extends 'app_01/base.html' %}

{% block title %}
Index Page Title
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="styles.css">
{% endblock %}

{% block header %}
<!-- If you have specific header content for index.html, it goes here -->
{% endblock %}

{% block sidebar %}
<p>This is the sidebar content specific to the index page.</p>
<div>**********************************</div>
<br>
{% endblock %}

{% block content %}
<!-- Content specific to index.html goes here -->
<div>Index page main content</div>
{% endblock %}

{% block footer %}
<!-- If you have specific footer content for index.html, it goes here -->
{% endblock %}

{% block scripts %}
<!-- Specific scripts for index.html go here -->
{% endblock %}