{% extends 'app_01/base.html' %}
{% load static bootstrap4 %}
{% block title %}
Index Page Title
{% endblock %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block header %}
<div>**********************************</div>
<h2>Home</h2>
{% endblock %}

{% block sidebar %}
<div>**********************************</div>

<p>This is the sidebar content specific to the Index page.</p>
<br>
{% endblock %}

{% block content %}
<p>This is the content specific to the Index page.</p>
{% endblock %}

{% block footer %}
<p>This is the footer content specific to the Index page.</p>
{% endblock %}

{% block scripts %}
{% bootstrap_javascript %}
<p>This is the scripts content specific to the Index page.</p>
{% endblock %}