{% extends 'app_01/base.html' %}
{% load static bootstrap4 %}

{% block title %}
Logout
{% endblock %}

{% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block header %}
<div>**********************************</div>
    <h1>Logout</h1>
{% endblock %}

{% block content %}
<div>**********************************</div>
    <h3>User information:</h3>
    <p>Username: {{ username }}</p>
    <p>Email: {{ email }}</p>

<form method="GET" action="{% url 'my-login' %}">
    <button type="submit" class="btn btn-primary btn-margin-right">Login</button>
</form>
    <hr>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
    {% bootstrap_javascript %}
{% endblock %}