{% extends 'app_01/base.html' %}
{% load static bootstrap4 %}
{% block title %}
Reviews Page
{% endblock %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block header %}
<div>**********************************</div>
<h2>Reviews page</h2>
{% endblock %}

{% block sidebar %}
<div>**********************************</div>
<p>This is the sidebar content specific to the Reviews page.</p>
<br>
{% endblock %}

{% block content %}
<div>**********************************</div>
<h3>Reviews</h3>
{% if reviews %}
    <ul>
        {% for review in reviews %}
            <li>{{ review.content }} - <em>{{ review.author }}</em></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No reviews yet.</p>
{% endif %}
{% endblock %}

{% block footer %}
<div>**********************************</div>
<p>This is the footer content specific to the Reviews page.</p>
{% endblock %}

{% block scripts %}
{% bootstrap_javascript %}
{% endblock %}