{% extends 'app_01/base.html' %}

{% block title %}
Your Page Title Here
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="styles.css">
{% endblock %}

{% block header %}
<div style="border-bottom: 1px solid #ccc; padding: 10px;">
    this HEADER CONTENT comes from base.html
    <div>
        <br>
            <div>**********************************</div>
            <br>
            <a href="{% url 'reviews' %}">Go to reviews</a>
            <br>
            <a href="{% url 'cars' %}">Go to cars</a>
            <br>
            <a href="{% url 'register' %}">Go to register</a>
            <br>
            <a href="{% url 'task' %}">Go to task</a>
            <br>
            <a href="{% url 'create-task' %}">Create new task</a>
            <br>
            <a href="{% url 'homepage' %}"> home </a>
            <br>
            <div>**********************************</div>
            <br>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<!-- Your sidebar content here, if any -->
{% endblock %}

{% block content %}
<!-- Your main content here -->
{% endblock %}

{% block footer %}
<!-- Your footer content here -->
{% endblock %}

{% block scripts %}
<!-- Your scripts here -->
{% endblock %}