{% extends 'app_01/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}
<h3 xmlns="http://www.w3.org/1999/html">Tasks</h3>
<hr>
<p>List of tasks:</p>

<div>
    <ul>
        {% for task in tasks %}
            <li>ID: {{ task.id }}</li>
            <li>TITLE: {{ task.title }}</li>
            <li>CREATED: {{ task.created }}</li>
            <li>UPDATED: {{ task.updated }}</li>
            <li style="margin-bottom: 10px;">DESCRIPTION: {{ task.description }}</li>
        {% endfor %}
    </ul>

    <br>
    <p>Single task:</p>
    <p>
        {% if single_task_id %}
            <li>ID: {{ single_task_id }}</li>
            <li>TITLE: {{ single_task_title }}</li>
            <li>CREATED: {{ single_task_created }}</li>
            <li>UPDATED: {{ single_task_updated }}</li>
            <li style="margin-bottom: 10px;">DESCRIPTION: {{ single_task_description }}</li>
        {% else %}
            <p>No tasks found.</p>
        {% endif %}
    </p>
</div>
{% endblock %}

{% block sidebar %}
<!-- Your sidebar content here, if any -->
{% endblock %}

{% block footer %}
<!-- Your footer content here -->
{% endblock %}

{% block scripts %}
<!-- Your scripts here -->
{% endblock %}