{% extends 'app_01/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
    View Task
{% endblock %}

{% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        .task-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
        .task-item {
            border: 1px solid #ccc;
            padding: 30px;
        }
        .btn-delete {
            background-color: red;
            color: white;
        }
    </style>
{% endblock %}

{% block header %}
<div>**********************************</div>
    <h1>Tasks:</h1>
<div>**********************************</div>
    <h3>List of tasks:</h3>
{% endblock %}

{% block content %}
    <div class="task-container">
        {% for task in tasks %}
            <div class="task-item">
                <li>ID: {{ task.id }}</li>
                <li>TITLE: {{ task.title }}</li>
                <li>DESCRIPTION: {{ task.description }}</li>
                <div>----------------------------</div>
                <li>CREATED: {{ task.created }}</li>
                <li>UPDATED: {{ task.updated }}</li>
                <div>----------------------------</div>
                <br>
                <form method="GET" action="{% url 'update-task' task.id %}">
                    <button type="submit" class="btn btn-custom">Update Task</button>
                </form>
                &nbsp;
                <form method="GET" action="{% url 'delete-task' task.id %}">
                    <button type="submit" class="btn btn-custom btn-delete">Delete Task</button>
                </form>
                <br>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
    {% bootstrap_javascript %}
{% endblock %}