{% extends 'app_01/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}
Update Task Page Title
{% endblock %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block header %}
<div>**********************************</div>
<h2>Header</h2>
{% endblock %}

{% block content %}
<div>**********************************</div>

<h3> Update your tasks here: </h3>

<div>**********************************</div>

<h4 > Task form </h4>
<hr>
<hr>
<form method="POST" autocomplete="off">
    {% csrf_token %}
    <!-- Code -->
    <button type="submit" class="btn btn-custom">Update task</button>
</form>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% bootstrap_javascript %}
{% endblock %}